*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/* ================================
COLORS
 ================================= */

:root {
    /* --- Primary --- */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);

    /* --- Neutral --- */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

/* ================================
TYPOGRAPHY
 ================================= */

body {
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    font-family: 'Spartan', sans-serif;
    color: var(--dark-grayish-magenta);
    text-align: center;
    letter-spacing: .5px;
}

h1,
.social-rating__text,
.buyer-name {
    font-weight: 700;
}

h1,
.social-rating__text {
    color: var(--very-dark-magenta);
}

h1 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.4px;
    margin-bottom: 18px;
}

.social-info__text {
    margin-bottom: 40px;
}

.social-rating__text,
.testimonial {
    font-size: 13px;
}

.buyer-status {
    color: var(--soft-pink);
    font-weight: 400;
}

.testimonial__text {
    line-height: 22px;
}

@media (min-width: 1200px) {
    h1 {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: 1.7px;
        margin-bottom: 16px;
    }
}

/* ================================
GENERAL LAYOUT
 ================================= */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/bg-pattern-top-mobile.svg"),
        url("../images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat,
        no-repeat;
    background-position: top left,
        bottom right;
}
.main {
    padding: 80px 24px 99px 24px;
}

.social-ratings {
    margin-bottom: 49px;
}

.social-rating,
.testimonial {
    border-radius: 8px;
}


.social-rating {
    background-color: var(--light-grayish-magenta);
    padding: 16px 54px 11px 54px;
    text-align: center;
}

.social-rating + .social-rating {
    margin-top: 16px;
}

.social-rating__stars {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.social-rating__star {
    width: 17px;
}

.social-rating__star + .social-rating__star {
    margin-left: 8px;
}

.testimonial {
    background: var(--very-dark-magenta);
    color: var(--white);
    text-align: left;
    padding: 40px 32px 32px 32px;
}

.testimonial + .testimonial {
    margin-top: 16px;
}

.testimonial__buyer {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.buyer-img {
    width: 40px;
    border-radius: 50px;
}

.buyer-info {
    margin-left: 23px;
    line-height: 15px;
    position: relative;
    top: -3px;
}

.buyer-name {
    margin-bottom: 5px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 700px) {

    .main {
        padding: 63px 82px 50px 82px;
        max-width: 1440px;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .flex + .flex {
        margin-top: 72px;
        align-items: baseline;
    }

    .social-info {
        width: 38%;
    }

    .social-ratings {
        margin-bottom: 0;
        width: 40%;
    }

    .social-rating {
        position: relative;
    }

    .social-rating:nth-last-child(2) {
        right: 45px;
    }

    .social-rating:nth-last-child(3) {
        right: 90px;
    }

    .testimonial + .testimonial {
        margin-top: 0;
        margin-left: 16px;
    }

    .testimonial {
        position: relative;
    }

    .testimonial:nth-last-child(2) {
        bottom: 15px;
    }

    .testimonial:nth-last-child(3) {
        bottom: 30px;
    }
}


@media (min-width: 1200px) {

    .body {
        text-align: left;
        background-image: url("../images/bg-pattern-top-desktop.svg"),
        url("../images/bg-pattern-bottom-desktop.svg");
    }

    .main {
        padding: 127px 165px 100px 165px;
    }

    .social-info {
        width: 47%;
    }

    .social-rating {
        display: flex;
        align-items: baseline;
        max-width: 445px;
        padding: 18px 32px 12px 32px;
    }

    .social-rating__text {
        margin-left: 32px;
    }

    .testimonial {
        max-width: 350px;
    }
}